{% extends 'MailingService/base.html' %}

{% block title%} Login {% endblock %}

{% block content %}

<main class="row m-3">
    <h3>Добро пожаловать в онлайн магазин</h3>

        <div class="row text">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="row m-2">Введите данные для сброса пароля:</h5>
                            <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Сбросить пароль</button>
<!--                            <a href="{% url 'users:register' %}" class="btn btn-secondary">Регистрация</a>-->
                        </form>
                            </form>
                      </div>
                    </div>
                </div>
        </div>
</main>


{% endblock %}
