{% extends 'MailingService/base.html' %}

{% block title%} Детали сообщения {% endblock %}

{% block content %}
<main class="row">
            <div class="row text">
                <div class="col-12 ml-5 mr-5">
                    <div class="card mb-4 ml-5 rounded-3 shadow-sm">

                        <div class="card-body">
                            <h4 class="card-title">Профиль:</h4>
                            <p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Имя: {{ current_user.username | title}}
                                    </li>
                                    <!--<p>Клиенты: {{ mailing.client.name }} </p>-->
                                    <li class="list-group-item">
                                        Телефонный номер: {{ current_user.phone_number }}
                                    </li>

                                    <li class="list-group-item">
                                        {% if current_user.avatar %}
                                           <p> Изображение - <img src="{{current_user.avatar.url}}" class="rounded" style="width: 200px" alt="Изображение"></p>
                                        {% else %}
                                            <p>Изображение отсутствует</p>
                                        {% endif %}

                                    </li>
                                </ul>

                                {% if user == current_user %}
                                <div class="card-body">
                                    <a href="{% url 'users:user_update' current_user.pk %}" class="btn btn-secondary">Редактировать</a>
                                </div>
                                {% endif %}
                            </p>
<!--                            <button type="button" class="btn w-100 btn-success">Купить</button>-->
                        </div>
                    </div>
                </div>
            </div>
    </main>


{% endblock %}
